@model IEnumerable<MaintainMe.Models.WorkOrderListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Work Orders</h2>
<h3>Work Orders must be generated from the vehicle list</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarMileage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrderDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrderDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkOrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarMileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkOrderDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkOrderDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.WorkOrderId }) |
                @Html.ActionLink("Details", "Details", new { id = item.WorkOrderId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.WorkOrderId })
            </td>
        </tr>
    }
</table>
