@model MaintainMe.Models.MaintenanceDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MaintenanceDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaintenanceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceMileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaintenanceMileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaintenanceDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
