@model MaintainMe.Models.CarOwnerDetail

@{
    ViewBag.Title = "Details";
}

<h2>Car Owner Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarOwnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarOwnerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityStZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityStZip)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarOwnerId }) |
    @Html.ActionLink("Add a New Car", "Create", "Car", new { id = Model.CarOwnerId }, null) |
    @Html.ActionLink("Back to List", "Index")
</p>
