@model IEnumerable<MaintainMe.Models.CarOwnerListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Car Owner List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarOwnerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityStZip)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarOwnerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityStZip)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CarOwnerId }) |
            @Html.ActionLink("Details", "Details", new { id = item.CarOwnerId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CarOwnerId })
        </td>
    </tr>
}

</table>
