<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Customer Maintenance</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-success">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @Html.ActionLink("Customer Maintenance", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                    <li class="nav-item">
                        @*<a class="nav-link">@Html.ActionLink("Customers", "Index", "Customer")</a>*@
                        <a class="nav-link" href="@Url.Action("Index", "Customer")">Customers</a>

                    </li>
                    <li class="nav-item">
                        @*<a class="nav-link">@Html.ActionLink("Vehicles", "Index", "Car")</a>*@
                        <a class="nav-link" href="@Url.Action("Index", "Car")">Vehicles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "WorkOrder")">WorkOrders</a>
                        @*<a class="nav-link">@Html.ActionLink("WorkOrders", "Index", "WorkOrder")</a>*@
                    </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("About", "Home")">About</a>
                            @*<a class="nav-link">@Html.ActionLink("About", "About", "Home")</a>*@
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a>
                        @*<a class="nav-link">@Html.ActionLink("Contact", "Contact", "Home")</a>*@
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Customer Maintenance</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
